#### Git ---------------------------------------------------------------------
alias g="git"

#### Vim ---------------------------------------------------------------------
alias v="vim"

#### Python ------------------------------------------------------------------
alias py2="python2"
alias py3="python3"

## Python HTTP server
alias py2serv="python2 -m SimpleHTTPServer"
alias py3serv="python3 -m http.server"

#### Jupyter -----------------------------------------------------------------
alias jupycon="jupyter console"
alias jupynot="jupyter notebook"

#### Django ------------------------------------------------------------------
## Admin
alias dja="django-admin"

## Manage
alias djm="python manage.py"
alias djc="djm check"
alias djcm="djm compilemessages"
alias djdd="djm dumpdata"
alias djds="djm diffsettings"
alias djf="djm flush"
alias djidb="djm inspectdb"
alias djld="djm loaddata"
alias djm="djm migrate"
alias djmmig="djm makemigrations"
alias djmmes="djm makemessages"
alias djr="djm runserver"
alias djsa="djm startapp"
alias djsp="djm startproject"
alias djsh="djm shell"
alias djshi="djm shell -i ipython"
alias djsm="djm showmigrations"
alias djsqlf="djm sqlflush"
alias djsqlm="djm sqlmigrate"
alias djsqlsr="djm sqlsequencereset"
alias djt="djm test"
alias djts="djm testserver"
alias djdbs="djm dbshell"

#### ls ----------------------------------------------------------------------
alias l="ls -CF"
alias la="ls -A"
alias ll="ls -lF"
alias lla="ls -laF"
alias llas="ls -al --group-directories-first"

#### npm ---------------------------------------------------------------------
alias npmb="npm build"
alias npmrb="npm rebuild"
alias npmp="npm publish"
alias npmi="npm install"
alias npmig="npm install -g"
alias npmu="npm update"
alias npmug="npm update -g"
alias npmt="npm test"

#### tree --------------------------------------------------------------------
alias treec='tree -CAFa -I "CVS|*.*.package|.svn|.git|.hg|node_modules|bower_components" --dirsfirst'

