
.zsh/cache

# VSCode
.config/Code/*
!.config/Code/User/
.config/Code/User/syncLocalSettings.json
.config/Code/User/syncSummary.txt
.config/Code/User/*.lock
.config/Code/User/workspaceStorage/

# Extra
.extra

# Local
*.local

# zsh
.zcompdump*
.history
.histfile

# Python
.python_history

# npm
package*.json

# Git
.git-credentials
**/git/credentials
